### Import data file and display the data frame

In [1]:
import pandas as pd

# Read the CSV file
df = pd.read_csv('agg.csv')

# Display the data frame
df

,DATE,S&P OPEN,S&P CLOSE,S&P HIGH,S&P LOW,S&P VOLUME,1 Month T,2 Month T,3 Month T,4 Month T,...,10 Year T,20 Year T,30 Year T,UNEMP,PCE,PCEPI,CPI,FFR,GDP,RGDP
0,2001-01-02,1320.280029,1283.270020,1320.280029,1276.050049,1129400000,NaN,NaN,5.87,NaN,...,4.92,5.46,5.35,4.2,6987.4,74.932,175.600,6.67,10470.231,14183.120
1,2001-01-03,1283.270020,1347.560059,1347.760010,1274.619995,1880700000,NaN,NaN,5.69,NaN,...,5.14,5.62,5.49,4.2,6987.4,74.932,175.600,6.35,10470.231,14183.120
2,2001-01-04,1347.560059,1333.339966,1350.239990,1329.140015,2131000000,NaN,NaN,5.37,NaN,...,5.03,5.56,5.44,4.2,6987.4,74.932,175.600,5.92,10470.231,14183.120
3,2001-01-05,1333.339966,1298.349976,1334.770020,1294.949951,1430800000,NaN,NaN,5.12,NaN,...,4.93,5.50,5.41,4.2,6987.4,74.932,175.600,5.83,10470.231,14183.120
4,2001-01-08,1298.349976,1295.859985,1298.349976,1276.290039,1115500000,NaN,NaN,5.19,NaN,...,4.94,5.52,5.42,4.2,6987.4,74.932,175.600,5.98,10470.231,14183.120
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5810,2024-02-07,4973.049805,4995.060059,4999.890137,4969.049805,4895590000,5.47,5.49,5.43,5.40,...,4.09,4.41,4.31,3.7,19001.7,121.421,309.685,5.33,27938.831,22672.859
5811,2024-02-08,4995.160156,4997.910156,5000.399902,4987.089844,4341860000,5.49,5.51,5.44,5.42,...,4.15,4.47,4.36,3.7,19001.7,121.421,309.685,5.33,27938.831,22672.859
5812,2024-02-09,5004.169922,5026.609863,5030.060059,5000.339844,3912990000,5.49,5.51,5.44,5.43,...,4.17,4.48,4.37,3.7,19001.7,121.421,309.685,5.33,27938.831,22672.859
5813,2024-02-12,5026.830078,5021.839844,5048.390137,5016.830078,3805740000,5.49,5.51,5.43,5.43,...,4.17,4.48,4.37,3.7,19001.7,121.421,309.685,5.33,27938.831,22672.859
5814,2024-02-13,4967.939941,4953.169922,4971.299805,4920.310059,4302190000,5.48,5.52,5.45,5.46,...,4.31,4.59,4.46,3.7,19001.7,121.421,309.685,5.33,27938.831,22672.859